html,
body {
  font-family: 'Barlow', system-ui, sans-serif;
  --paper-accent: #ed445b;
  background: #f8f8f8;
}

.tb-textarea,
.tb-button {
  font-family: 'Barlow', system-ui, sans-serif;
}

.tb-header {
  justify-content: space-between;
  padding: .5em 1em;
}

.tb-header,
.left,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-right: .5em;
}

.tb-textarea {
  resize: auto;
  height: 200px;
  width: 300px;
  -webkit-appearance: none;
  background: #fff;
  line-height: 1.5em;
  font-size: 1em;
}

.tb-thing {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  height: 0;
  width: 0;
  transition: opacity .15s;
}

.tb-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: .6em;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity .15s;
}

.tb-thing:focus-within .tb-buttons,
.tb-thing.active .tb-buttons {
  opacity: 1;
  pointer-events: all;
}

.tb-button {
  margin-left: .6em;
  font-size: .8rem;
}

.tb-button:first-child {
  margin-left: 0;
}

.tb-board {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.tb-board,
.tb-things {
  position: absolute;
  top: 0;
  left: 0;
}

.tb-board.ctrlDown .tb-textarea {
  cursor: move;
  opacity: .5;
}

.tb-slate {
  color: #888;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
  line-height: 1.5em;
}